@import "tailwindcss";


@font-face {
  font-family: anzo1;
  src: url(./assets/file.woff2);
}
@font-face {
  font-family: anzo2;
  src: url(./assets/file2.woff2);
}
@font-face {
  font-family: anzo-reg;
  src: url(./assets/Poppins-Regular.ttf);
}
.word-tight {
  word-spacing: -12px;
}

#page1-in{
  perspective: 1000px;
  position: relative;
}

#tiltDiv{
  /* background-color: red; */
  width: fit-content;
}



